body{

    width: 100%;
    height: 100%;
    background-color: #4E4E50;
}

html{
    width: 100%;
    height: 100%;
    }



#mainNav {
    
      margin-bottom: 0;
    
      text-transform: uppercase;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      background-color: #6f2232;    
}

#mainNav .navbar-toggler {
      font-size: 14px;
      padding: 11px;
      color: White;
      border: 1px solid white;
}

#mainNav span .navbar-toggler-icon{
     
      color: white;
     
}



#mainNav a{
    
    color: white;
}

#mainNav button{
    color: white;
}




@media(min-width:768px){
    p{
        font-size: 18px;
        line-height: 1.6;
        
    }
}


.masthead{
    display: table;
    width: 100%;
    height: auto;
    padding: 200px 0;
    text-align: center;
    color:white;
    background: url('img/EITexterior.jpg') no-repeat bottom center scroll;
    background-color: black;
    background-size: cover;
}

.masthead .intro-body{
    display: table-cell;
    vertical-align: middle;
}

.masthead .intro-body .brand-heading{
    font-size: 50px;
}

.masthead .intro-body .intro-text{
    font-size: 18px;
}

@media(min-width: 768px){
    .masthead {
        height: 100%;
        padding: 0;
    }
    
    .masthead .intro-body .brand-heading{
        font-size: 100px;
    }
    .masthead .intro-body .intro-text{
        font-size: 22px ;
    }
}

.text-drop{
    text-shadow: 2px 2px black;
}

.tag-line{
   
    font-weight: 400;
    background-color: rgba(0,0,0,.5);
    border-radius: 20px;
    padding: 20px 0;
}

.display-1{
    font-size:  1.5em;
}

.btn-circle{
    font-size: 26px;
    width: 55px;
    height: 55px;
    margin-top: 15px;
    line-height: 45px;
    transition: background .03s ease-in-out;
    color:white;
    border: 2px solid white;
    border-radius: 100% !important;
    background: transparent;
}


.btn-circle:focus, .btn-circle:hover{
    color: white;
    outline: none;
    background: rgba(255,255,255,0.1);
}

::selection{
    background: #fcfcfc;
    background: rgba(255,255,255,0.2);
    text-shadow: none;
}

img::selection{
    background:transparent;
}

.card-fluid{
    color: black;
    background: white;
    margin-bottom: 2rem;
    
}


.card-deck {
    margin-bottom: 2rem;
    margin-left: .5rem;
    margin-right: .5rem;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

section {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: transparent;
}
.wrap {
    display: flex;
    background: white;
    padding: .5rem 1rem .5rem 1rem;
    border-radius: 1.5rem;
    box-shadow: 7px 7px 30px -5px rgba(0,0,0,0.1);
    margin-bottom: 1rem;
    color:black;

}

.wrap:hover {
    background: #6f2232;
    color: white;
    text-decoration:none;
       
}

.ico-wrap {
    margin: auto;
}

.mbr-iconfont {
    font-size: 4.5rem !important;
    color: #313131;
    margin: 1rem;
    padding-right: 1rem;
}

#footer .container-fluid {
    margin-top: 3rem;
    background-color: #6f2232;    
}

footer{
    background-color:#6f2232;
}

#sticky-footer  .container {
    color: white;
}

#sticky-footer  .fab {
    color: white;
}

#programming {
       
    margin-top:3rem;
    margin-bottom:2rem;

}

#programming .img-fluid{
    border-radius:5px !important;
}

#programming h1{
        background-color: rgba(0,0,0,.5);
    border-radius: 25px;
   padding-bottom:.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: -1rem;
    margin-right:-1rem;
    
}


#programming .row{
        background-color: rgba(0,0,0,.5);
    border-radius: 25px;
    padding: 15px 0;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: -1rem;
    align-items: center;
}



#csresource{
    background: url('img/laptopcode.jpeg') center ;
    background-size: cover;
    height: 75%;
    margin-bottom: 2rem;
}


#csresource .tag-line{
   
    font-weight: 400;
    background-color: rgba(0,0,0,.5);
    border-radius: 20px;
    padding: 15px 0;
    padding-left: 1rem;
    padding-right: 1rem;
}

#development .text-drop{
    
    text-shadow: 2px 2px black;
}

#development .text-drop{
      
    background-color: rgba(0,0,0,.5);
    border-radius: 0px;
   
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: .1rem;
    margin-right:.1rem;
    
}
#development .card {
    padding-left: 0;
    padding-right: 0;
}

#development .card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
    border-radius: 0px !important;
}

#tutor {
    
    border-radius: 5px !important;
    margin-bottom: 2rem;
}

#tutor .card-img-top{
    height: 25vw !important;
    
}



#loginform .card{
    background-color: rgba(0,0,0,.5);
    border-radius: 25px;
    padding: 15px 0;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

#regbonus .card-img-overlay{
    background-color: #6f2232;
    border-radius: 15px;
}

#regbonus .card{
    
    border-color: black; 
    border-radius: 15px;
    background-color: rgba(0,0,0,.5);
}

#regcard .card{
    height: 4rem; !important;
    border-color: black; 
    border-radius: 15px;
    background-color: #6f2232;
     margin-left: -1rem;
    margin-right: -1rem;
}

#usernavhub .card-title{
    padding: 2px;
    background-color: rgba(0,0,0,.7);
    margin-top: -.5rem;
}

#usernavhub .container{
    margin-bottom:2rem;
}

#usernavhub .card{
    border-color:black;
    border-width: 1px;   
}

#userhome{
    background: url('img/ualruser2.jpg') center ;
    background-size: cover;
    height: 75%;
    margin-bottom: 2rem;
}

#userhome .tag-line{
    font-weight: 400;
    background-color: rgba(0,0,0,.6);
    border-radius: 20px;
    padding: 15px 0;
    padding-left: 1rem;
    padding-right: 1rem;
}

#userhome .text-drop{
    text-shadow: 
        /* first layer at 1px */
        -1px -1px 0px #000,
         0px -1px 0px #000,
         1px -1px 0px #000,
        -1px  0px 0px #000,
         1px  0px 0px #000,
        -1px  1px 0px #000,
         0px  1px 0px #000,
         1px  1px 0px #000,
        /* second layer at 2px */
        -2px -2px 0px #000,
        -1px -2px 0px #000,
         0px -2px 0px #000,
         1px -2px 0px #000,
         2px -2px 0px #000,
         2px -1px 0px #000,
         2px  0px 0px #000,
         2px  1px 0px #000,
         2px  2px 0px #000,
         1px  2px 0px #000,
         0px  2px 0px #000,
        -1px  2px 0px #000,
        -2px  2px 0px #000,
        -2px  1px 0px #000,
        -2px  0px 0px #000,
        -2px -1px 0px #000;
}







